<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/head"/>
</head>
<body>
<div class="container-fluid">
	<header>
		<th:block th:replace="fragments/navbar"/>
	</header>
	<main class="mt-3">
		<hr class="bg-pets hr-2"/>
		<h1 class="text-center text-pets">Create Pet</h1>
		<hr class="bg-pets w-25 hr-2"/>
		<form id="submitAdd" class="mx-auto w-25" th:method="post" th:action="@{/pets/add}" th:object="${petCreate}"
		      enctype="multipart/form-data">
			<div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'text-danger'">
				<label for="name" class="text-pets">Name</label>
				<input type="text" class="form-control" id="name" placeholder="Name..." name="name"
				       th:field="*{name}"/>
				<h6 th:each="error : ${#fields.errors('name')}" th:text="${error}"></h6>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('image')}? 'text-danger'">
				<label for="image" class="text-pets">Image</label>
				<input type="file" class="form-control-file" id="image" name="image"/>
				<h6 th:each="error : ${#fields.errors('image')}" th:text="${error}"></h6>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('breed')}? 'text-danger'">
				<label for="breed" class="text-pets">Breed</label>
				<input type="text" class="form-control" id="breed" placeholder="Breed..." name="breed"
				       th:field="*{breed}"/>
				<h6 th:each="error : ${#fields.errors('breed')}" th:text="${error}"></h6>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('furColor')}? 'text-danger'">
				<label for="furColor" class="text-pets">Fur Color</label>
				<input type="text" class="form-control" id="furColor" placeholder="Fur Color..." name="furColor"
				       th:field="*{furColor}"/>
				<h6 th:each="error : ${#fields.errors('furColor')}" th:text="${error}"></h6>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('birthDate')}? 'text-danger'">
				<label for="birthDate" class="text-pets">Birth Date</label>
				<input type="date" class="form-control" id="birthDate" name="birthDate"/>
				<h6 th:each="error : ${#fields.errors('birthDate')}" th:text="${error}"></h6>
			</div>
			<div class="form-group text-center" th:classappend="${#fields.hasErrors('gender')}? 'text-danger'">
				<label for="male" class="text-pets">Male</label>
				<input type="radio" id="male" value="male" name="gender"/>
				<label for="female" class="ml-5 text-pets">Female</label>
				<input type="radio" id="female" value="female" name="gender"/>
				<h6 th:each="error : ${#fields.errors('gender')}" th:text="${error}"></h6>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('vaccineDate')}? 'text-danger'">
				<label for="vaccineDate" class="text-pets">Vaccine Date</label>
				<input type="date" class="form-control" id="vaccineDate" name="vaccineDate"/>
				<h6 th:each="error : ${#fields.errors('vaccineDate')}" th:text="${error}"></h6>
			</div>
			<div class="form-group text-center" th:classappend="${#fields.hasErrors('isCastrated')}? 'text-danger'">
				<label for="true" class="text-pets">Castrated</label>
				<input type="radio" id="true" value="true" name="isCastrated"/>
				<label for="false" class="ml-5 text-pets">Not Castrated</label>
				<input type="radio" id="false" value="false" name="isCastrated"/>
				<h6 th:each="error : ${#fields.errors('isCastrated')}" th:text="${error}"></h6>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('animal')}? 'text-danger'">
				<label for="add-animal" class="text-pets">Animals</label>
				<select multiple="" class="form-control" id="add-animal" name="animals"
				        th:field="*{animal}">
					<option value="" disabled>--- Select Animal ---</option>
				</select>
				<h6 th:each="error : ${#fields.errors('animal')}" th:text="${error}"></h6>
			</div>
			<hr class="bg-pets hr-2"/>
			<div class="button-holder mt-4 d-flex justify-content-center">
				<button id="btnAdd" type="submit" class="btn bg-pets text-white">Create</button>
				<a class="btn btn-dark text-white ml-5" th:href="@{/home}"
				   th:text="Cancel"></a>
			</div>
		</form>
		<hr class="bg-pets hr-2 mt-5"/>
	</main>
	<footer>
		<th:block th:replace="fragments/footer"/>
	</footer>
</div>
<script>
	fetch('/animals/fetch')
		.then((response) => response.json())
		.then((json) => {
			json.forEach((animals) => $('#add-animal')
				.append(`<option value="${animals.id}">${animals.name}</option>`));
		})
		.catch((err) => console.log(err));
	$('#submitAdd').submit(function () {
		$('#btnAdd').prop('disabled', true).text('Creating...');
	});
</script>
</body>
</html>