<nav class="navbar navbar-expand-lg navbar-dark bg-pets rounded"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

    <a class="navbar-brand nav-link-white" th:href="@{/}">𝓟𝓮𝓽𝓼</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
        <th:block sec:authorize="isAuthenticated()">
            <div class="btn-group">
                <form th:action="@{/home}" th:method="get">
                    <select class="btn btn-info dropdown-toggle" onchange="submit();" th:name="animalId"
                            type="button">
                        <option value="">Select Animal...</option>
                        <option th:each="animal : ${animals}"
                                th:selected="${animal.id == animalId}"
                                th:text="${animal.name}"
                                th:value="${animal.id}"></option>
                    </select>
                </form>
            </div>
        </th:block>
        <ul class="navbar-nav ml-auto" sec:authorize="isAnonymous()">
            <li class="nav-item active">
                <a class="nav-link nav-link-white" th:href="@{/users/login}">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link nav-link-white" th:href="@{/users/register}">Register</a>
            </li>
        </ul>
        <th:block sec:authorize="isAuthenticated()">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" sec:authorize="hasAnyAuthority('ADMIN','MODERATOR')">
                    <div class="dropdown show">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link active dropdown-toggle"
                           data-toggle="dropdown" id="categoryProductDropdown" role="button"
                           th:href="@{#}">
                            Animals
                        </a>
                        <div aria-labelledby="categoryProductDropdown" class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/animals/add}">Add Animal</a>
                            <a class="dropdown-item" th:href="@{/animals/all}">All Animals</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item active" sec:authorize="hasAuthority('ROOT')">
                    <a class="nav-link nav-link-white" th:href="@{/allPets}">All Pets</a>
                </li>
                <th:block sec:authorize="hasAuthority('ROOT')">
                    <div class="btn-group">
                        <form th:action="@{/allPets}" th:method="get">
                            <select class="btn btn-info dropdown-toggle" onchange="submit();" th:name="userId"
                                    type="button">
                                <option value="">Select User...</option>
                                <option th:each="user : ${users}"
                                        th:selected="${user.id == userId}"
                                        th:text="${user.username}"
                                        th:value="${user.id}"></option>
                            </select>
                        </form>
                    </div>
                </th:block>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active" sec:authorize="hasAuthority('ROOT')">
                    <a class="nav-link nav-link-white" th:href="@{/users/all}">All Users</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-link-white" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link nav-link-white" th:href="@{/users/profile}">Profile</a>
                </li>
                <li class="nav-item active">
                    <form th:action="@{/logout?login}" th:method="post">
                        <button class="logout-button nav-link">Logout</button>
                    </form>
                </li>
            </ul>
        </th:block>
    </div>
</nav>