<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head"/>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar"/>
    </header>
    <main class="mt-3">
        <hr class="bg-pets hr-2"/>
        <h1 class="text-center text-pets">Edit Profile</h1>
        <hr class="bg-pets w-25 hr-2"/>
        <form class="form w-25 mx-auto" th:action="@{/users/edit}" th:method="post" th:object="${userEdit}">
            <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'text-danger'">
                <label for="username" class="text-pets">Username</label>
                <input type="text" class="form-control" name="username" id="username"
                       th:field="*{username}" readonly/>
                <h6 th:each="error : ${#fields.errors('username')}" th:text="${error}"></h6>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'text-danger'">
                <label for="password" class="text-pets">Old Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password..." name="password"
                       required/>
                <h6 th:each="error : ${#fields.errors('password')}" th:text="${error}"></h6>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('newPassword')}? 'text-danger'">
                <label for="newPassword" class="text-pets">New Password</label>
                <input type="password" class="form-control" id="newPassword" placeholder="New Password..."
                       name="newPassword"/>
                <h6 th:each="error : ${#fields.errors('newPassword')}" th:text="${error}"></h6>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('confirmNewPassword')}? 'text-danger'">
                <label for="confirmNewPassword" class="text-pets">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmNewPassword"
                       placeholder="Confirm New Password..."
                       name="confirmNewPassword"/>
                <h6 th:each="error : ${#fields.errors('confirmNewPassword')}" th:text="${error}"></h6>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'text-danger'">
                <label for="email" class="text-pets">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email..."
                       name="email" th:field="*{email}"/>
                <h6 th:each="error : ${#fields.errors('email')}" th:text="${error}"></h6>
            </div>
            <hr class="hr-2 bg-pets">
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn bg-pets text-white">Edit</button>
            </div>
        </form>
        <hr class="bg-pets hr-2 mt-5"/>
    </main>
    <footer>
        <th:block th:replace="fragments/footer"/>
    </footer>
</div>
</body>
</html>