<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head"/>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar"/>
    </header>
    <main class="mt-3">
        <hr class="bg-pets hr-2"/>
        <h1 class="text-center text-pets font-italic">Edit Profile</h1>
        <hr class="bg-pets w-25 hr-2"/>
        <form class="form w-25 mx-auto" id="submitEdit" th:action="@{/users/edit}" th:method="post"
              th:object="${userEdit}">
            <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'text-danger'">
                <label class="text-pets" for="username">Username</label>
                <input class="form-control" id="username" name="username" readonly
                       th:field="*{username}" type="text"/>
                <h6 th:each="error : ${#fields.errors('username')}" th:text="${error}"></h6>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'text-danger'">
                <label class="text-pets" for="password">Old Password</label>
                <input class="form-control" id="password" name="password" placeholder="Password..." required
                       type="password"/>
                <h6 th:each="error : ${#fields.errors('password')}" th:text="${error}"></h6>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('newPassword')}? 'text-danger'">
                <label class="text-pets" for="newPassword">New Password</label>
                <input class="form-control" id="newPassword" name="newPassword" placeholder="New Password..."
                       type="password"/>
                <h6 th:each="error : ${#fields.errors('newPassword')}" th:text="${error}"></h6>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('confirmNewPassword')}? 'text-danger'">
                <label class="text-pets" for="confirmNewPassword">Confirm New Password</label>
                <input class="form-control" id="confirmNewPassword" name="confirmNewPassword"
                       placeholder="Confirm New Password..."
                       type="password"/>
                <h6 th:each="error : ${#fields.errors('confirmNewPassword')}" th:text="${error}"></h6>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'text-danger'">
                <label class="text-pets" for="email">Email</label>
                <input class="form-control" id="email" name="email" placeholder="Email..."
                       th:field="*{email}" type="email"/>
                <h6 th:each="error : ${#fields.errors('email')}" th:text="${error}"></h6>
            </div>
            <hr class="hr-2 bg-pets">
            <div class="button-holder d-flex justify-content-center">
                <button class="btn bg-pets text-white" id="btnEdit" type="submit">Update</button>
                <a class="btn btn-dark text-white ml-5" th:href="@{/users/profile}"
                   th:text="Cancel"></a>
            </div>
        </form>
        <hr class="bg-pets hr-2 mt-5"/>
    </main>
    <footer>
        <th:block th:replace="fragments/footer"/>
    </footer>
</div>
<script>
    $('#submitEdit').submit(function () {
        $('#btnEdit').prop('disabled', true).text('Loading...');
    });
</script>
</body>
</html>